
body {
    background-color: blueviolet;
}
main {
    background-color: beige;
}

footer {
    background-color: brown;
    color:white;
}

div {
    background-color: aquamarine;
}

#entrada {

}

.botoes {

}

main, article, header {
    margin-top: 20px;
    margin-left: 15px;
   
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
}