html,body{
    margin: 0;
    height: 100%;
}

.cabecalho{
    height: 10%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.logoFireFox{
    width: 15%;
    padding-right: 10%;
}

.listasMenuSup{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.menuSup {
    display: flex;
    justify-content: space-between;
    flex: 1;
    
}
.itemMenuSup{
    padding: 10%;
    margin-right: 10%;
}

.itemMenuSup2{
    
    padding-top: 15%;
}

.UsuaSair{
    padding-right: 10%;
}
.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 300px;
    height: 80%;
}
.itensMenuLat{
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 420px;
    
}

.parte1{
    border: 2px solid green;
    display: flex;
    width: 250px;
    
    
}

.parte2{
    display: flex;
    border: 2px solid blue;
    flex-wrap: wrap;
    align-content: flex-start;
        
}
.conteudo{
    min-width: 300px;
    border: 2px solid palevioletred;
    margin: 8px;
    border-radius: 10px;
    flex: 1;
    height: 200px;
    
}
.itemlistaLat{

}

.rodape{
    display: flex;
    flex: 1;
    border:2px solid black;
    height: 10%;
}